<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="bfOrderBook.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <bfOrderBook.Properties.Settings>
      <setting name="fore" serializeAs="String">
        <value>Black</value>
      </setting>
      <setting name="back" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="a_1" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="a_10" serializeAs="String">
        <value>Green</value>
      </setting>
      <setting name="a_100" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="b_1" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="b_10" serializeAs="String">
        <value>Green</value>
      </setting>
      <setting name="b_100" serializeAs="String">
        <value>Red</value>
      </setting>
    </bfOrderBook.Properties.Settings>
  </userSettings>
</configuration>